{% extends 'base.html' %}

{% block body %}



{% if module_prefix %}
<h2 class="header"> Module: {{ module_prefix }}</h2>
{% else %}
<h2 class="header"> Project: {{ repo_name }}</h2>
{% endif %}


{% if module_prefix %}
<h3> <a href="/module_similarity/{{repo_name}}/{{module_prefix }}"> Click here</a> to calculate modules average similarity </a></h3>
{% else %}
<h3> <a href="/module_similarity/{{repo_name}}"> Click here</a> to calculate project average similarity </a></h3>
{% endif %}

<h2> Modules: </h2>
<ul>

{% for x in modules %}
    <li> <a href="/module/{{repo_name}}/{{x}}"> {{x}} </a> </li>
{% endfor %}

{% if add_flat_module %}
    <li> <a href="/flat_module/{{repo_name}}/{{module_prefix}}"> {{ module_prefix }}.__init__ </a> </li>
{% endif %}
</ul>



{% endblock %}