{% extends 'base.html' %}

{% block body %}


<h2> Functions in module {{ module_name }}</h2>
<h3> <a href="/similarity/{{repo_name}}/{{ module_name }}/{{add_init}}"> Average module similarity </a></h3>

<table>

    <thead>
    <tr>
        <th> Function name</th>
    </tr>
    </thead>

    <tbody>
    {% for f in functions %}
    <tr>
        <td>
            <a href="/function/{{repo_name}}/{{module_name}}/{{f}}/{{add_init}}"> {{f}} </a>
        </td>
    </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}