{% extends 'base.html' %}

{% block body %}


<h2> Showing module {{ module_prefix }}</h2>
{% if module_prefix %}
<h3> <a href="/module_similarity/{{repo_name}}/{{module_prefix }}"> Average modules similarity </a></h3>
{% else %}
<h3> <a href="/module_similarity/{{repo_name}}"> Average modules similarity </a></h3>
{% endif %}
<table>

    <thead>
    <tr>
        <th> Module name</th>
    </tr>
    </thead>

    <tbody>
    {% for x in modules %}
    <tr>
        <td>
            <a href="/module/{{repo_name}}/{{x}}"> {{x}} </a>
        </td>
    </tr>

    {% endfor %}

    {% if add_flat_module %}
    <tr>
        <td>
            <a href="/flat_module/{{repo_name}}/{{module_prefix}}"> {{ module_prefix }}.__init__ </a>
        </td>
    </tr>
    {% endif %}

    </tbody>
</table>

{% endblock %}